html._dark {
  --poppins: "Poppins", sans-serif;
  /* colors  */
  --primary-color: #8e89c7;
  --text-dark: #f8f8f8;
  --text-light: #1d293a;
  --dark-body: #141d2a;
}

html._dark body {
  background: var(--dark-body);
  color: #fff;
}
html._dark .achievement .card {
  background: var(--text-light);
}
html._dark #menus ul {
  background: #8e89c7d3;
}
html._dark #portfolios .card .info .technologies span {
  background: var(--dark-body);
}
html._dark .portfolio-content .content .card {
  background-color: var(--text-light);
  border-color: var(--text-light);
}
html._dark #header.active-header {
  background-color: #1d293acb;
  backdrop-filter: blur(5px);
}

html._dark .right-content input,
html._dark .right-content textarea {
  color: #fff;
  border: 1px solid #1d293a;
  background-color: var(--text-light);
}
