html._dark {
  --poppins: "Poppins", sans-serif;
  /* colors  */
  --primary-color: #8e89c7;
  --text-dark: #f8f8f8;
  --text-light: #222222;
  --dark-body: #121212;
}

html._dark body {
  background: var(--dark-body);
  color: #fff;
}
html._dark .achievement .card {
  background: var(--text-light);
}
html._dark #menus ul {
  background: #8e89c7d3;
}
